<div class="relative h-[1150px] sm:h-auto">
  <%= image_tag('new_organization_bg.png', class: "h-full w-full object-cover md:hidden") %>
  <div class="sm:w-[95%] absolute top-[108px] sm:top-0 sm:relative left-1/2 translate-x-[-50%]">
    <new-collection :namespaces="<%= @available_namespaces.to_a.to_json %>">
    </new-collection>
  </div>
</div>
