<div class="bg-white">
  <collections-detail
    user-name="<%= current_user.present? ? current_user.name : 'Guest' %>"
    collections-id = "<%= @collections_id %>"
    path = "<%= @path %>"
  >
  </collections-detail>
</div>