<admin-navbar
  user-name="<%= current_user.name %>"
  user-roles="<%= current_user.roles.join(',') %>"
></admin-navbar>

<div class="max-w-[1280px] m-auto flex gap-[30px] mt-[30px]">
  <admin-menu
  ></admin-menu>

  <div class="p-[20px] w-full">
    <router-view />
  </div>
</div>