<script type="text/javascript" src="https://cdn.authing.co/packages/guard/latest/guard.min.js"></script>
<link rel="stylesheet" href="https://cdn.authing.co/packages/guard/latest/guard.min.css" />

<%# overwrite authing css%>
<style>
  .authing-g2-render-module-normal {
    position: unset !important;
    transform: unset !important;
  }
</style>

<div class="w-full h-full flex sm:flex-col">
  <div class="w-2/6 h-full bg-gray-50 sm:hidden">
  </div>
  <div class="w-4/6 h-full sm:w-auto flex justify-center items-center" id="authing-guard-container"></div>
</div>

<% if Rails.env.production? || Rails.env.staging? %>
  <script>
    const authingAppId = "<%= authing_app_id %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `authingUuid=${userInfo.id};domain=opencsg.com;`;
      document.cookie = `idToken=${userInfo.token};domain=opencsg.com;`;
      document.cookie = `lastLoginAt=${userInfo.lastLogin};`;
      delete userInfo['token']
      document.cookie = `userinfos=${JSON.stringify(userInfo)};domain=opencsg.com;`;
      window.location.href = "/authing/callback"
    })
  </script>
<% else %>
  <script>
    const authingAppId = "<%= authing_app_id %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `idToken=${userInfo.token};domain=localhost;`;
      document.cookie = `authingUuid=${userInfo.id};domain=localhost;`;
      document.cookie = `lastLoginAt=${userInfo.lastLogin};`;
      delete userInfo['token']
      document.cookie = `userinfos=${JSON.stringify(userInfo)};domain=localhost;`;
      window.location.href = "/authing/callback"
    })
  </script>
<% end %>