<script type="text/javascript" src="https://cdn.authing.co/packages/guard/latest/guard.min.js"></script>
<link rel="stylesheet" href="https://cdn.authing.co/packages/guard/latest/guard.min.css" />

<div id="authing-guard-container"></div>
<% if Rails.env.production? %>
  <script>
    const authingAppId = "<%= Rails.application.credentials[:authing_app_id] %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `authingUuid=${userInfo.id};domain=opencsg.com;`;
      document.cookie = `idToken=${userInfo.token};domain=opencsg.com;`;
      document.cookie = `lastLoginAt=${userInfo.lastLogin};`;
      delete userInfo['token']
      document.cookie = `userinfos=${JSON.stringify(userInfo)};domain=opencsg.com;`;
      window.location.href = "/authing/callback"
    })
  </script>
<% else %>
  <script>
    const authingAppId = "<%= Rails.application.credentials[:authing_app_id] %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `idToken=${userInfo.token};domain=localhost;`;
      document.cookie = `authingUuid=${userInfo.id};domain=localhost;`;
      document.cookie = `lastLoginAt=${userInfo.lastLogin};`;
      delete userInfo['token']
      document.cookie = `userinfos=${JSON.stringify(userInfo)};domain=localhost;`;
      window.location.href = "/authing/callback"
    })
  </script>
<% end %>