<script type="text/javascript" src="https://cdn.authing.co/packages/guard/latest/guard.min.js"></script>
<link rel="stylesheet" href="https://cdn.authing.co/packages/guard/latest/guard.min.css" />

<div id="authing-guard-container"></div>
<% if Rails.env.production? %>
  <script>
    const authingAppId = "<%= Rails.application.credentials[:authing_app_id] %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `authing_uuid=${userInfo.id};domain=opencsg.com;`;
      document.cookie = `id_token=${userInfo.token};domain=opencsg.com;`;
      document.cookie = `last_login_at=${userInfo.lastLogin};`;
      console.log(userInfo)
      console.log(document.cookie)
      window.location.href = "/authing/callback"
    })
  </script>
<% else %>
  <script>
    const authingAppId = "<%= Rails.application.credentials[:authing_app_id] %>"
    const guard = new GuardFactory.Guard({
      appId: authingAppId
    })
    guard.start('#authing-guard-container').then(userInfo => {
      document.cookie = `authing_uuid=${userInfo.id};domain=localhost;`;
      document.cookie = `id_token=${userInfo.token};domain=localhost;`;
      document.cookie = `last_login_at=${userInfo.lastLogin};`;
      window.location.href = "/authing/callback"
    })
  </script>
<% end %>