<div id="authing-guard-container"></div>

<script>
  const guard = new GuardFactory.Guard({
    appId: '64f5a0343bf429c9942dbd46'
  })

  guard.start('#authing-guard-container').then(userInfo => {
    document.cookie = `authing_uuid=${userInfo.id};domain=localhost;`;
    document.cookie = `id_token=${userInfo.token};domain=localhost;`;
    document.cookie = `last_login_at=${userInfo.lastLogin};`;
    console.log(userInfo)
    console.log(document.cookie)
    window.location.href = "/authing/callback"
  })
</script>