<div class="w-full m-h-[630px] bg-gradient-to-r from-[#75d0ff] to-[#b8fff1] pt-[134px] pb-[80px]">
  <div class="mx-auto p-[14px] bg-white rounded w-[193px] h-[193px]">
    <img src="<%= asset_path('foot_code.png') %>" width="165" height="165" alt="OpenCSG qrcode"/>
  </div>
  <div class="text-[16px] text-[#303133] text-center w-[219px] mt-[8px] pb-[36px] mx-auto">关注微信公众号，回复 “活动” 即可入群</div>
  <div class="text-[30px] text-[#303133] text-center font-[600] mb-[16px]">您已成功提交表单！</div>
  <div class="text-[20px] text-[#606266] text-center mb-[16px] sm:mx-[40px]">感谢您对OpenCSG的大力支持，我们将会尽快联系到您</div>
  <div class="w-full mx-auto flex justify-center gap-[16px]">
    <%= link_to "再次提交", params[:lead_form_url], class: "flex items-center justify-center w-[88px] h-[32px] bg-white border border-[#DCDFE6] text-[#606266] rounded" %>
    <%= link_to "返回首页", '/', class: "flex items-center justify-center w-[88px] h-[32px] bg-[#409EFF] text-white rounded" %>
  </div>
</div>
