<p>
  <% if flash[:alert].present? %>
    <el-alert title="<%= flash[:alert] %>" type="error" class="justify-center" />
  <% end %>
</p>
<repo-cards
  selected-tag="<%= params[:tag] %>"
  selected-tag-type="<%= params[:tag_type] %>"
  repo-type="model"
>
</repo-cards>
