<div class="bg-white border-b border-[#EBEEF5]">
  <model-detail
    :model="<%= @model %>"
    :files="<%= @files %>"
    :last-commit="<%= @last_commit %>"
    :branches="<%= @branches %>"
  ></model-detail>
</div>
