<div class="relative w-full h-full bg-white py-[60px]">
  <new-application-space
    :namespaces="<%= @available_namespaces.to_a.to_json %>"
    :licenses="<%= @licenses.to_a.to_json %>"
    :is-admin="<%= @is_admin %>"
  >
  </new-application-space>
</div>