<div class="pb-[100px] lg:pb-[100px] md:pb-[36px]" style="background: linear-gradient(180deg, #F3F0FF 0%, #F0F6FF 100%);">
  <div class="flex items-center flex-col lg:px-[106px] md:px-[50px] sm:px-[20px] w-full">
    <div class="flex justify-center items-center text-center flex-col w-[1006px] sm:w-[906px] not-italic lg:px-[266px] mt-[96px] sm:mt-[60px]">
      <p class="text-5xl font-semibold text-[#303133] md:text-2xl"><%= t('partners.apply.title_one') %></p>
      <div class="text-[20px] text-[#606266] md:hidden">
        <p class="mt-[16px]"><%= t('partners.apply.content_line_one') %></p>
        <p class="lg:mt-[8px]"><%= t('partners.apply.content_line_two') %></p>
      </div>
    </div>
  </div>
  <partner-form></partner-form>
</div>
