<div class="flex items-center flex-col lg:px-[106px] md:px-[50px] sm:px-[20px] h-[600px] w-full" style="background: var(--02-, linear-gradient(103deg, #75D0FF 1.36%, #B8FFF1 97.52%));">
  <div class="flex justify-center items-center text-center flex-col w-[1006px] not-italic lg:px-[266px] mt-[96px]">
    <p class="text-5xl font-semibold text-[#303133]">成为OpenCSG合作伙伴</p>
    <div class="text-[20px] text-[#606266]">
      <p class="mt-[16px]">如您有意加入OpenCSG开放传神社区并成为我们的合作伙伴，请填写下方信息</p>
      <p class="lg:mt-[8px]">我们会尽快与您联系并详细沟通，感谢您对OpenCSG的支持。</p>
    </div>
  </div>
</div>

<partner-form></partner-form>

<div class="mb-[770px]">
</div>