<div class="home-container">
<!--    <Hero hero="<%= asset_path('about/home/hero.png') %>"/>-->
<!--    <Feature integrate="<%= asset_path('about/home/integrate.png') %>"-->
<!--             governance="<%= asset_path('about/home/governance.png') %>"-->
<!--             empower="<%= asset_path('about/home/empower.png') %>">>-->
<!--    </Feature>-->
<!--    <Team sam="<%= asset_path('about/home/sam.png') %>"-->
<!--          jiaqing="<%= asset_path('about/home/jiaqing.png') %>"-->
<!--          wangwei="<%= asset_path('about/home/wangwei.png') %>">-->
<!--    </Team>-->
    <Joinus/>
    <Foot
         foot-code="<%= asset_path('foot_code.png') %>"
         foot-logo="<%= asset_path('foot_logo.png')%>"
         emblem-logo="<%= asset_path('national_emblem.png') %>">
    </Foot>
</div>