/* 给 HTML 标签设置的样式 */
.btn {
  border-radius: var(--el-border-radius-base);
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

/* btn-primary */
.btn-primary {
  background-color: var(--Brand-600);
  border: 1px solid var(--Brand-600);
  color: var(--Base-White);
}

.btn-primary:hover {
  background-color: var(--Brand-700);
  border: 1px solid var(--Brand-700);
  color: var(--Base-White);
}

.btn-primary:focus {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(77, 106, 214, 0.24);
}

.btn-primary[disabled] {
  background-color: var(--Gray-100);
  color: var(--Gray-400);
  border: 1px solid var(--Gray-200);
}

/* btn-danger */
.btn-danger {
  background-color: var(--Error-600);
  border: 1px solid var(--Error-600);
  color: var(--Base-White);
}

.btn-danger:hover {
  background-color: var(--Error-700);
  border: 1px solid var(--Error-300);
  color: var(--Base-White);
}

.btn-danger:focus {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(240, 68, 56, 0.24);
}

.btn-danger[disabled] {
  background-color: var(--Gray-100);
  color: var(--Gray-400);
  border: 1px solid var(--Gray-200);
}

/* btn-outline */
.btn-outline {
  background-color: var(--Base-White);
  border: 1px solid var(--Gray-300);
  color: var(--Gray-700);
}

.btn-outline:hover {
  background-color: var(--Gray-50);
  border: 1px solid var(--Gray-300);
  color: var(--Gray-800);
}

.btn-outline:focus {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(152, 162, 179, 0.14);
}

.btn-outline[disabled] {
  background-color: var(--Base-White);
  color: var(--Gray-400);
  border: 1px solid var(--Gray-200);
}

/* btn-outline-primary */
.btn-outline-primary {
  background-color: var(--Base-White);
  border: 1px solid var(--Brand-300);
  color: var(--Brand-700);
}

.btn-outline-primary:hover {
  background-color: var(--Brand-50);
  border: 1px solid var(--Brand-300);
  color: var(--Brand-800);
}

.btn-outline-primary:focus {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(77, 106, 214, 0.24);
}

.btn-outline-primary[disabled] {
  background-color: var(--Base-White);
  color: var(--Gray-400);
  border: 1px solid var(--Gray-200);
}

/* btn-outline-danger */
.btn-outline-danger {
  background-color: var(--Base-White);
  border: 1px solid var(--Error-300);
  color: var(--Error-700);
}

.btn-outline-danger:hover {
  background-color: var(--Error-50);
  border: 1px solid var(--Error-300);
  color: var(--Error-800);
}

.btn-outline-danger:focus {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(240, 68, 56, 0.24);
}

.btn-outline-danger[disabled] {
  background-color: var(--Base-White);
  color: var(--Gray-400);
  border: 1px solid var(--Gray-200);
}

/* btn-ghost */
.btn-ghost {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--Gray-600);
  box-shadow: none;
}

.btn-ghost:hover {
  background-color: var(--Gray-50);
  border: 1px solid transparent;
  color: var(--Gray-700);
}

.btn-ghost[disabled] {
  color: var(--Gray-400);
}

/* btn-ghost-primary */
.btn-ghost-primary {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--Brand-700);
}

.btn-ghost-primary:hover {
  background-color: var(--Brand-50);
  border: 1px solid transparent;
  color: var(--Brand-800);
}

.btn-ghost-primary[disabled] {
  color: var(--Gray-400);
}

/* btn-ghost-danger */
.btn-ghost-danger {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--Error-700);
}

.btn-ghost-danger:hover {
  background-color: var(--Error-50);
  border: 1px solid transparent;
  color: var(--Error-800);
}

.btn-ghost-danger[disabled] {
  color: var(--Gray-400);
}
