<div class="bg-white mt-auto">
  <% if is_on_premise? %>
    <on-premise-footer />
  <% else %>
    <% if logged_in? %>
      <login-footer emblem-logo="<%= asset_path('national_emblem.png') %>">
      </login-footer>
    <% else %>
      <logout-footer foot-code="<%= asset_path('foot_code.png') %>"
                      foot-logo="<%= asset_path('foot_logo.png') %>"
                      emblem-logo="<%= asset_path('national_emblem.png') %>">
      </logout-footer>
    <% end %>
  <% end %>
</div>
