<div class="bg-white mt-auto">
  <% if is_on_premise? %>
    <on-premise-footer />
  <% else %>
    <% if !logged_in? %>
      <Foot foot-code="<%= asset_path('foot_code.png') %>"
            foot-logo="<%= asset_path('foot_logo.png') %>"
            emblem-logo="<%= asset_path('national_emblem.png') %>"
      >
      </Foot>
    <% else %>
      <new-foot emblem-logo="<%= asset_path('national_emblem.png') %>">
      </new-foot>
    <% end %>
  <% end %>
</div>
