<nav class="navbar narbar-logged-in navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand login">
      <a href="https://opencsg.com" target="_blank">
        <div class="navbar-logo__div">
          <img :src="logo" alt="OpenCSG Logo" class="w-[135px] sm:w-[90px]" />
        </div>
      </a>
    </div>
  </div>
</nav>
