<div class="bg-white">
  <Navbar logout="<%= logout_address %>"
          logo="<%= asset_path('opencsg_logo.png') %>"
          avatar="<%= current_user.avatar %>"
          start-chain-url="<%= starchain_address %>"
 />
</div>
