<div class="bg-white mt-auto">
  <% if is_on_premise? %>
    <on-premise-footer />
  <% else %>
    <login-footer emblem-logo="<%= asset_path('national_emblem.png') %>">
    </login-footer>
  <% end %>
</div>
