<div>
  <access-token-settings name="<%= current_user.name %>"
                         avatar="<%= current_user.avatar_url %>"
                         email="<%= current_user.email %>"
                         display-name="<%= current_user.display_name%>"
  >
  </access-token-settings>
</div>