<div>
  <git-token-settings name="<%= current_user.name %>"
                    avatar="<%= current_user.avatar_url %>"
                    git-token="<%= current_user.git_token! %>"
                    display-name=<%= current_user.display_name%>>
  </git-token-settings>
</div>