<div>
  <p>
    <% if flash[:alert].present? %>
      <el-alert title="<%= flash[:alert] %>" type="error" class="justify-center" />
    <% end %>
  </p>
  <profile-settings></profile-settings>
</div>

