<div>
  <ssh-key-settings name="<%= current_user.name %>"
                    avatar="<%= current_user.avatar_url %>"
                    display-name=<%= current_user.display_name %>
                    ssh-keys="<%= @ssh_keys.to_json %>"
  >
  </ssh-key-settings>
</div>