<div class="form-group">
  <%= label_tag "email_opt_out", "邮件退订#{custom_required?('email_opt_out') ? '*' : ''}", class: "block" %>
  <%= select_tag "email_opt_out", options_for_select(['yes', 'no'], @lead.email_opt_out), disabled: @landing_page.inactive? %>
</div>
