<div class="w-[320px] lg:w-full">
  <%= label_tag "industry", "行业#{custom_required?('industry') ? '*' : ''}", class: "text-left block leading-[22px] mb-[8px]" %>
  <%= text_field_tag "industry", @lead.industry, required: custom_required?('industry'), class: "w-full h-[40px] rounded border-[1px] border-[#DCDFE6] hover:border-[#409EFF] outline-none px-[10px]" %>
</div>
