<div class="form-group phone122">
  <%= label_tag "phone", "电话*", class: "block" %>
  <p class="field-remark">请填入纯数字号码，座机及港澳台号码请加上行政区号</p>
  <%= text_field_tag "phone", @lead.phone, required: true, disabled: @lead_form.inactive? %>
</div>
