<div class="w-[320px] lg:w-full">
  <%= label_tag "title", "职位#{custom_required?('title') ? '*' : ''}", class: "text-left block leading-[22px] mb-[8px]" %>
  <%= text_field_tag "title", @lead.title, required: custom_required?('title'), class: "w-full h-[40px] rounded border-[1px] border-[#DCDFE6] hover:border-[#409EFF] outline-none focus:border-[#409EFF] px-[10px]" %>
</div>
