<div class="flex flex-col justify-center bg-white">
  <%# banner %>
  <div class="text-center w-full bg-top bg-no-repeat bg-[url('images/landing/BackgroundPattern.png')] py-[96px] md:px-[16px]">
    <div class="sm:w-full max-w-[1280px] m-auto">
      <div class="relative mb-[24px] tracking-[-1.2px] md:tracking-[-0.72px] m-auto text-[60px] md:text-[36px] md:leading-[44px] text-[#101828] leading-[72px]">
        <span class="relative z-10 font-medium md:font-normal">让大模型 赋能 每一个人</span>
        <!-- underline svg -->
        <svg class="absolute bottom-0 left-[40%] md:hidden" xmlns="http://www.w3.org/2000/svg" width="264" height="24" viewBox="0 0 264 24" fill="none"><path d="M8 8H195.741L61.8999 16H256" stroke="#ACBDFF" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <svg class="absolute bottom-0 left-[37%] hidden md:block" xmlns="http://www.w3.org/2000/svg" width="98" height="20" viewBox="0 0 98 20" fill="none"><path d="M6 6H71.1038L24.6911 14H92" stroke="#ACBDFF" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </div>
      <div class="text-[20px] font-light text-[#475467] leading-[30px] mb-[48px] md:mb-[32px]">
        大模型驱动全民，推动技术加速创新。
      </div>
      <% if !logged_in? %>
      <a href="/login" class="md:block md:mx-[20px] px-[22px] py-[16px] rounded-[8px] text-[#FFF] bg-[#32508D] border border-[32508D] cursor-pointer">加入社区</a>
      <% end %>
    </div>
  </div>
  <div class="max-w-[1280px] m-auto md:px-[32px] pt-[96px] md:pt-[64px]">
    <img src="images/landing/container.png" alt="" class="w-full md:hidden" />
    <img src="images/landing/phone_container.png" alt="" class="w-full hidden md:block" />
  </div>
  <div class="flex flex-col justify-center py-[96px] sm:pb-[50px] h-screen sm:h-auto pl-20 md:px-[16px]">
    <div class="flex justify-center items-center md:flex-col md:gap-[48px] sm:w-full max-w-[1280px] m-auto ">
      <div class="md:text-center">
        <div class="text-[64px] md:text-[30px] md:leading-[38px] text-[#303133]">加强开源大型模型的<br class="md:hidden"/>商业应用</div>
        <div class="text-[20px] leading-[28px] md:text-[18px] md:font-light text-[#606266]">OpenCSG 将帮助您找到最合适、最经济、和活跃的开源大型模型</div>
      </div>
      <div>
        <img src="images/landing/frame.png" alt="" class="w-full max-h-[600px]" />
      </div>
    </div>
  </div>
  <%# Feature %>
  <div class="bg-[#F9FAFB] flex flex-col justify-center py-[96px] md:py-[64px] text-center">
    <div class="max-w-[1280px] m-auto md:px-[16px]">
      <div class="text-[16px] leading-[24px] md:text-[14px] md:leading-[20px] text-[#223B99] mb-[8px]">我们的价值</div>
      <div class="text-[48px] leading-[60px] md:text-[30px] md:leading-[38px] text-[#101828] mb-[20px]">为什么选择 OpenCSG</div>
      <div class="text-[20px] leading-[30px] md:text-[18px] md:leading-[28px] text-[#475467] mb-[64px]" >Our shared values keep us connected and guide us as one team.</div>
      <div class="grid grid-cols-3  md:grid-cols-1 gap-[32px] justify-items-center">
        <div class="flex flex-col items-center">
          <div class="mb-[16px] px-[12px] py-[12px] border border-[ #EAECF0] bg-[#FFF] rounded-[10px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M21.2104 15.8906C20.5742 17.395 19.5792 18.7208 18.3123 19.7519C17.0454 20.7829 15.5452 21.488 13.9428 21.8053C12.3405 22.1227 10.6848 22.0427 9.12055 21.5724C7.55627 21.102 6.13103 20.2556 4.96942 19.1072C3.80782 17.9588 2.94522 16.5433 2.45704 14.9845C1.96886 13.4257 1.86996 11.771 2.169 10.1652C2.46804 8.55934 3.1559 7.05119 4.17245 5.77259C5.189 4.49399 6.50329 3.48388 8.0004 2.83056M21.2392 8.17372C21.6395 9.14019 21.8851 10.1619 21.9684 11.2014C21.989 11.4582 21.9993 11.5866 21.9483 11.7023C21.9057 11.7989 21.8213 11.8903 21.7284 11.9405C21.6172 12.0006 21.4783 12.0006 21.2004 12.0006H12.8004C12.5204 12.0006 12.3804 12.0006 12.2734 11.9461C12.1793 11.8981 12.1028 11.8216 12.0549 11.7276C12.0004 11.6206 12.0004 11.4806 12.0004 11.2006V2.80056C12.0004 2.52269 12.0004 2.38376 12.0605 2.27254C12.1107 2.17964 12.2021 2.09525 12.2987 2.05265C12.4144 2.00166 12.5428 2.01195 12.7996 2.03254C13.839 2.11588 14.8608 2.36144 15.8272 2.76176C17.0405 3.26431 18.1429 4.0009 19.0715 4.92949C20.0001 5.85808 20.7367 6.96047 21.2392 8.17372Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
          <div class="text-[20px] mb-[8px] md:text-[18px] md:leading-[28px] text-[#101828] leading-[30px]">整合</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">通过运用自然语言实现混合云资源的整合利用，自然语言处理技术能够简化工作流程，降低IT基础设施成本同时提高团队之间的协作效率</div>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-[16px] px-[12px] py-[12px] border border-[ #EAECF0] bg-[#FFF] rounded-[10px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13 2L4.09344 12.6879C3.74463 13.1064 3.57023 13.3157 3.56756 13.4925C3.56524 13.6461 3.63372 13.7923 3.75324 13.8889C3.89073 14 4.16316 14 4.70802 14H12L11 22L19.9065 11.3121C20.2553 10.8936 20.4297 10.6843 20.4324 10.5075C20.4347 10.3539 20.3663 10.2077 20.2467 10.1111C20.1092 10 19.8368 10 19.292 10H12L13 2Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
          <div class="text-[20px] mb-[8px] md:text-[18px] md:leading-[28px] text-[#101828] leading-[30px]">治理</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">使大模型更易于使用，为垂直行业定制解决方案，使得每个公司及个人都能够拥有自己的大模型</div>
        </div>
        <div class="flex flex-col items-center">
          <div class="mb-[16px] px-[12px] py-[12px] border border-[ #EAECF0] bg-[#FFF] rounded-[10px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11 3H7.8C6.11984 3 5.27976 3 4.63803 3.32698C4.07354 3.6146 3.6146 4.07354 3.32698 4.63803C3 5.27976 3 6.11984 3 7.8V16.2C3 17.8802 3 18.7202 3.32698 19.362C3.6146 19.9265 4.07354 20.3854 4.63803 20.673C5.27976 21 6.11984 21 7.8 21H16.2C17.8802 21 18.7202 21 19.362 20.673C19.9265 20.3854 20.3854 19.9265 20.673 19.362C21 18.7202 21 17.8802 21 16.2V13M12 8H16V12M15.5 3.5V2M19.4393 4.56066L20.5 3.5M20.5103 8.5H22.0103M3 13.3471C3.65194 13.4478 4.31987 13.5 5 13.5C9.38636 13.5 13.2653 11.3276 15.6197 8" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
          <div class="text-[20px] mb-[8px] md:text-[18px] md:leading-[28px] text-[#101828] leading-[30px]">赋能</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">通过利用自然语言发挥大模型的潜力从而彻底改变软件开发的方式，赋能每个人设计、创建、实施、并快速集成软件产品到现有系统</div>
        </div>
      </div>
    </div>
  </div>
  <%# Latest News %>
  <div class="flex flex-col justify-center py-[96px] md:py-[64px] text-center">
    <div class="max-w-[1280px] m-auto md:px-[16px]">
      <div class="text-[16px] leading-[24px] md:text-[14px] md:leading-[20px] text-[#223B99] mb-[8px]">公司博客</div>
      <div class="text-[36px] leading-[44px] md:text-[30px] md:leading-[38px] text-[#101828] mb-[20px]">最新动态</div>
      <div class="text-[20px] leading-[30px] md:text-[18px] md:leading-[28px] text-[#475467] mb-[64px] md:mb-[48px]" >获取 OpenCSG 最新动态</div>
      <div class="grid grid-cols-3 mb-[64px] md:grid-cols-1 gap-[32px] text-left">
        <div class="flex flex-col">
          <a href="https://opencsg.com/blog/news/8/">
            <div class="mb-[20px] rounded-[16px]">
              <img src="images/landing/news_bg1.png" alt="" class="w-full" />
            </div>
            <div class="text-[14px] text-[#223B99] leading-[20px] mb-[8px]">2023.9.2</div>
            <div class="overflow-hidden whitespace-nowrap text-ellipsis text-[24px] mb-[8px] md:text-[20px] md:leading-[30px] text-[#101828] leading-[32px]" title="OpenCSG 荣获千万天使轮融资">OpenCSG 荣获千万天使轮融资</div>
            <div class="text-[16px] text-[#475467] leading-[24px] font-light mb-[24px]">9月伊始，北京开放传神科技有限公司（以下简称“OpenCSG”）获数千万元天使轮融资，本轮投资由 联想创投集团，北京国信中数投资管理有限公司阶段性联合领投，源合资本担任财务顾问...</div>
            <div class="flex gap-[8px] text-[14px] leading-[20px]">
              <div class="px-[10px] py-[2px] rounded-[16px] border border-[#99AFFF] bg-[#CED8FF] text-[#223B99]">Tech</div>
              <div class="px-[10px] py-[2px] rounded-[16px] border border-[#C7D7FE] bg-[#EEF4FF] text-[#3538CD]">AI</div>
              <div class="px-[10px] py-[2px] rounded-[16px] border border-[#FCCEEE] bg-[#FDF2FA] text-[#C11574]">AIGC</div>
            </div>
          </a>
        </div>
        <div class="flex flex-col">
          <a href="https://opencsg.com/blog/posts/9/">
            <div class="mb-[20px] rounded-[16px]">
              <img src="images/landing/news_bg2.png" alt="" class="w-full" />
            </div>
            <div class="text-[14px] text-[#223B99] leading-[20px] mb-[8px]">2023.9.15</div>
            <div class="overflow-hidden whitespace-nowrap text-ellipsis text-[24px] mb-[8px] md:text-[20px] md:leading-[30px] text-[#101828] leading-[32px]" title="开源开放驱动大模型生态繁荣”主题研讨">“开源开放驱动大模型生态繁荣”主题研讨</div>
            <div class="text-[16px] text-[#475467] leading-[24px] font-light mb-[24px]">2023年9月15日，由上海市徐汇区科学技术委员会、上海西岸集团、中国信通院华东分院共同承办，以“开源开放驱动大模型生态繁荣”为主题的研讨会在上海徐汇西岸AI Tower举办...</div>
            <div class="flex gap-[8px] text-[14px] leading-[20px]">
              <div class="px-[10px] py-[2px] rounded-[16px] border border-[#C7D7FE] bg-[#EEF4FF] text-[#3538CD]">AI</div>
            </div>
          </a>
        </div>
        <div class="flex flex-col">
          <a href="https://opencsg.com/blog/news/10/">
            <div class="mb-[20px] rounded-[16px]">
              <img src="images/landing/news_bg3.png" alt="" class="w-full" />
            </div>
            <div class="text-[14px] text-[#223B99] leading-[20px] mb-[8px]">2023.9.28</div>
            <div class="overflow-hidden whitespace-nowrap text-ellipsis text-[24px] mb-[8px] md:text-[20px] md:leading-[30px] text-[#101828] leading-[32px]" title="“模速空间”创新生态社区揭幕仪式">“模速空间”创新生态社区揭幕仪式</div>
            <div class="text-[16px] text-[#475467] leading-[24px] font-light mb-[24px]">9月28日，上海“模速空间”创新生态社区暨人工智能大模型产业生态集聚区在揭牌，创始人&CEO陈冉代表OpenCSG上台揭幕，成为首批入驻上海市人工智能产业生态的企业之一...</div>
            <div class="flex gap-[8px] text-[14px] leading-[20px]">
              <div class="px-[10px] py-[2px] rounded-[16px] border border-[#ABEFC6] bg-[#ECFDF3] text-[#067647]">Tech</div>
            </div>
          </a>
        </div>
      </div>
      <a href="https://opencsg.com/blog" class="inline md:block px-[22px] py-[16px] rounded-[8px] text-[#FFF] bg-[#32508D] border border-[32508D] cursor-pointer">了解更多</a>
    </div>
  </div>
  <%# Team  %>
  <div class="flex flex-col justify-center py-[96px] md:py-[64px] text-center">
    <div class="max-w-[1280px] m-auto md:px-[16px]">
      <div class="text-[16px] leading-[24px] md:text-[14px] md:leading-[20px] text-[#223B99] mb-[8px]">核心团队</div>
      <div class="text-[48px] leading-[60px] md:text-[30px] md:leading-[38px] text-[#101828] mb-[20px]">我们的管理团队</div>
      <div class="text-[20px] leading-[30px] md:text-[18px] md:leading-[28px] text-[#475467] mb-[96px] md:mb-[64px]" >我们是一个分布式团队，拥有来自世界一流公司的职业背景。</div>
      <div class="grid grid-cols-3  md:grid-cols-1 gap-[32px] justify-items-center mt-[30px] md:mt-0">
        <div class="flex flex-col items-center px-[24px] py-[24px] bg-[#F9FAFB]">
          <div class="mb-[20px] w-[96px]">
            <img src="/images/about/sam.png"  class="w-full rounded-full" alt="OpenCSG"/>
          </div>
          <div class="text-[18px] mb-[8px] text-[#101828] leading-[28px]">陈冉（Sam Chen）</div>
          <div class="text-[16px] text-[#223B99] leading-[24px] font-light mb-[8px]">创始人｜CEO</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">原极狐GitLab创始人&CEO，曾任IBM、HP、Mesosphere（D2iQ）等国际科技巨头高层职务</div>
        </div>
        <div class="flex flex-col items-center px-[24px] py-[24px] bg-[#F9FAFB]">
          <div class="mb-[20px] w-[96px]">
            <img src="/images/about/wangwei.png"  class="w-full rounded-full" alt="OpenCSG"/>
          </div>
          <div class="text-[18px] mb-[8px] text-[#101828] leading-[28px]">王伟（Wei Wang）</div>
          <div class="text-[16px] text-[#223B99] leading-[24px] font-light mb-[8px]">联合创始人｜CTO</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">10+年软件技术从业经验，曾任人工智能独角兽高级技术总监、首席架构师、资深技术专家</div>
        </div>
        <div class="flex flex-col items-center px-[24px] py-[24px] bg-[#F9FAFB]">
          <div class="mb-[20px] w-[96px]">
            <img src="/images/about/jiaqing.png"  class="w-full rounded-full" alt="OpenCSG"/>
          </div>
          <div class="text-[18px] mb-[8px] text-[#101828] leading-[28px]">张家庆（Jiaqing Zhang）</div>
          <div class="text-[16px] text-[#223B99] leading-[24px] font-light mb-[8px]">联合创始人｜CMO</div>
          <div class="text-[16px] text-[#475467] leading-[24px] font-light">20+ 年软件行业从业经验，多年市场销售经验，曾在极狐、Intel、EMC、Marvell等公司担任研发团队和销售VP等管理职位</div>
        </div>
      </div>
    </div>
  </div>
  <landing-page>
</div>