{{ define "content" }}
  <div class="flex justify-center lg:flex-col rounded-[8px] md:px-[50px] sm:px-[20px] max-w-[1280px] m-auto bg-white">
    <div class="md:mb-[24px] border-r md:border-r-0 sm:bg-white md:bg-white">
      <profile name="{{ .user.Name }}"
      ></profile>
    </div>
    <div class="grow w-full px-[20px] py-[36px] md:px-0 sm:py-0">
      <profile-repo-list
        name="{{ .user.Name }}"
        initiator="{{ .initiator }}"
      ></profile-repo-list>
    </div>
  </div>
{{ end }}


