.form-checkbox-group {
  margin: 40px;

  .checkbox-group {
    margin: 10px 0;
    display: flex;
    align-items: center;

    input {
      height: 20px;
      width: 20px;
    }

    label {
      margin: 0;
      margin-left: 10px;
    }
  }

  &.lead-fields-container {
    .checkbox-group {
      border-bottom: 1px solid #aaa;

      label {
        flex: 1;
      }

      select {
        width: 128px;
        background-position: 100px center;
      }
    }
  }

  .form-group {
    padding: 20px 0;
    margin-left: 15%;

    &.textarea136 {
      height: 136px;
    }

    &.phone122 {
      height: 122px;
    }

    .field-remark {
      font-size: 12px;
      font-weight: bold;
    }
  }

  input[type='checkbox'].readonly {
    pointer-events: none;
  }

  label {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-bottom: 8px;
    color: #333333;
  }
}