@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
  Overwrite plugin css like ElementUI here
*/

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.el-button {
  &:focus-visible {
    outline: none !important;
  }
}

.el-dialog__body {
  padding: 10px 20px !important;
}

.el-upload-list--picture-card {
  width: 100% !important;
}

.el-upload--picture-card {
  width: 100% !important;
}

.el-upload-list__item {
  width: 100% !important;
  margin: 0 !important;
}
.el-upload-list__item > div {
    width: 100% !important;
}
.el-upload-list--picture-card .el-upload-list__item-thumbnail {
  object-fit: cover !important;
}
img, video {
  max-width: unset !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}