<div class="bg-white border-t border-b border-[#EAECF0]">
  <organization-settings
    :organization="<%= @organization.to_json %>"
    action="members"
    :admin="<%= @admin %>"
  >
  </organization-settings>
</div>