<div class="bg-white border-t border-b border-[#EAECF0]">
  <organization-layout
    :organization="<%= @organization.to_json %>"
    action="members"
    :admin="<%= @admin %>"
  >
  </organization-layout>
</div>