<div class="relative h-[850px]">
  <%= image_tag('new_organization_bg.png', class: "h-full w-full object-cover") %>
  <div class="absolute top-[108px] left-1/2 translate-x-[-50%]">
    <new-organization></new-organization>
  </div>
</div>