<% content_for :meta_title do %>
  <title> OpenCSG 算力服务 </title>
<% end %>

<% content_for :meta_desc do %>
  <meta name="description"
        content="近百家可信智算合作伙伴，OpenCSG 为您提供高性价比的算力服务"
  >
<% end %>

<div class="m-auto bg-white">
  <computing-page starcloud-url="<%= starcloud_url %>"
                  :partners="<%= @computing_partners.to_json %>"
  ></computing-page>
</div>
