<div class="flex justify-center lg:flex-col rounded-[8px] md:px-[50px] sm:px-[20px] max-w-[1280px] m-auto bg-white">
  <div class="md:mb-[24px] border-r md:border-r-0 sm:bg-white md:bg-white">
    <profile name="<%= @user.name %>"
    ></profile>
  </div>
  <div class="grow w-full px-[20px] py-[36px] md:px-0 sm:py-0">
    <div class="sm:w-[100%] sm:mt-[36px] mb-[36px]">
      <div class="font-medium text-xl">
        <%= I18n.t('profile.my_collect') %>
      </div>
    </div>
    <profile-repo-list
      name="<%= @user.name %>"
      initiator="<%= @initiator %>"
    ></profile-repo-list>
  </div>
</div>

