name: Docker Image CI

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Log in to ACR
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
        registry: ${{ secrets.ACR_REGISTRY }}

    - name: Extract Docker metadata (tags, labels)
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          opencsghq/csghub-portal
          ${{ secrets.ACR_REGISTRY }}/opencsg_public/csghub_portal
        tags: |
          type=raw,value=latest

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        provenance: false
        tags: ${{ steps.meta.outputs.tags }}
        platforms: linux/amd64,linux/arm64
