<div class="flex justify-center items-center">
  <div class="flex justify-center items-center flex-col max-w-[1280px] not-italic gap-y-[16px] px-[266px]">
    <div class="mt-[60px]">
      <p class="text-5xl">Hire a OpenCSG Expert</p>
    </div>
    <p style="text-align: center;">Find a OpenCSG-endorsed partner to help with your next project. Browse Experts based
      on what
      your need and reach out to start a conversation.</p>
  </div>
</div>